@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.game-thumb{
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 75%;
}

.game-holder{
    height: 400px;
    background: rgb(230, 229, 229);
    margin: 60px auto;
    padding: 40px 20px;
}
.game-detail-title{
    font-family: 'Lobster', cursive;
    margin-bottom: 40px;
    background: black;
    border-radius: 10px 10px 0px 0;
    padding: 3px 0;
}
.img-holder{
    width: 99%;
    margin:auto;
    margin-top: 40px; 
    margin-bottom: 40px;
}
.banner {
    height: 200px;
    width: 100%;
    margin:0;
    padding:0;
}
.label{
    padding: 2px 10px;
    border-radius: 0 0 10px 10px;
}
.banner:hover{
    opacity: 0.8;
    box-shadow: 1px 1px 6px rgba(138, 136, 136, 0.308);
}
.img-holder:hover .label{
    background: rgb(109, 11, 11);
}
.back-btn{
    margin-bottom: 30px;
    margin-top:10px
}