<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
</head>
<body>

     <h2 class="title" >Games in your cart</h2>

<table class="table table-dark">
    <thead>
      <tr>
        <th>Game Title</th>
        <th>Regular Price</th>
        <th>Your Price</th>
      </tr>
    </thead>
    <tbody *ngFor="let object of session">
    <tr>
        <td>{{object.name}}</td>
        <td>${{object.retailPrice}}</td>
        <td>${{object.salePrice}}</td>
      </tr>
    </tbody>
</table>
     
<button (click)="purchaseGames()">Purchase Games</button>

</body>
</html>
