<p>welcome works!</p>
<main>
    <section class="row">
        <div class="bg-white banner border-radius-small col-12 pad-small" [ngStyle]="{backgroundImage:'url(${game[0].thumb})'}">
            Banner
        </div>
    </section>

    <hr>

    <section class="row sort-wrapper">
        <div class="bg-secondary border-radius-small sort pad-small" routerLink="/game" [ngStyle]="{backgroundImage:'url(${game[1].thumb})'}" >
            <span class="bg-black text-light label">Sort by deal</span>
        </div>       
        <div class="bg-secondary border-radius-small sort pad-small " routerLink="/game/sortByRecent" [ngStyle]="{backgroundImage:'url(${game[2].thumb})'}">
            <span class="bg-black text-light label">Sort by recent</span>
        </div>
    </section>
    <hr>

    <section class="row sort-wrapper">
        <div class="bg-secondary border-radius-small sort pad-small" routerLink="/game/sortByMetaCritic" [ngStyle]="{backgroundImage:'url({game[3].thumb})'}">
            <span class="bg-black text-light label">Sort by metacritic</span>
        </div>
        <div class="bg-secondary border-radius-small sort pad-small" routerLink="/game/sortByTitle" [ngStyle]="{backgroundImage:'url(${game[4].thumb})'}">
            <span class="bg-black text-light label">Sort by title</span>
        </div>
    </section>

</main>