
.main-content{
    /* so that footer always at the bottom */
    min-height: 90vh;
    padding-bottom: 20px;
    padding-top:10px;
}
.dealshark-nav{
    height: 5vh;
}
.footer{
    height: 5vh;
    display:flex;
    align-items: center;
    display: block;
}