
.main-content{
    /* so that footer always at the bottom */
    min-height: 90vh;
    padding-bottom: 20px;
    padding-top:10px;
}
.dealshark-nav{
    min-height: 5vh;
}
.footer{
    min-height: 10vh;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
}