<p>search-game works!</p>
<div>
    <form>
        <input placeholder="Title" name="searchTerm.title" [(ngModel)] = "searchTerm.title"> 
        <!--input placeholder="Title" name="title" [(ngModel)] = "title"> {{title}} -->
        Highest price <input placeholder="Less than" name="priceLessThan" [(ngModel)] = "searchTerm.priceMoreThan"> 
         
        Lowest price <input placeholder="more than" name="priceMoreThan" [(ngModel)] = "searchTerm.priceLessThan">
        Recent? <input type="checkbox" name="recent" [(ngModel)] = "searchTerm.recent">
        On sale? <input type="checkbox" name="onSale" [(ngModel)] = "searchTerm.onSale"> 
    </form>
</div>

<br>
<app-game-list [searchTerm]="searchTerm"></app-game-list>