<p>search-game works!</p>
<div>
    <input placeholder="Title" name="searchTerm.title" [(ngModel)] = "searchTerm.title"> 
    <!--input placeholder="Title" name="title" [(ngModel)] = "title"> {{title}} -->
    <input placeholder="price more than" name="priceMoreThan" [(ngModel)] = "searchTerm.priceMoreThan"> 
    > price > 
    <input placeholder="price less than" name="priceLessThan" [(ngModel)] = "searchTerm.priceLessThan">
    AAA? <input type="checkbox" name="AAA" [(ngModel)] = "searchTerm.AAA">
    On sale? <input type="checkbox" name="onSale" [(ngModel)] = "searchTerm.onSale"> 
</div>
{{searchTerm | json}}
<br>