<div>
    <div class="panel-heading">
        <span class="label label-default label-center">{{ title }}</span>
    </div>

    <div class="panel-body">
        <div class="list-group">
            <form class="list-group-item" #registerForm="ngForm" name="registerForm" (ngSubmit)="registerUserFromService()" >

                <div class="form-group">
                    <!--  here i want to take input from the user, and change the property of the hero object in my ts file -->
                    <input [(ngModel)]="user.username" placeholder="username" name="username" class="form-control" required minlength="3">
	                <em *ngIf="registerForm.controls.username?.invalid && registerForm.controls.username?.touched">Must be more than 2 characters</em>
                    <br />
                    <br />
                    <input [(ngModel)]="user.password" placeholder="password" name="password" class="form-control" required minlength="3">
	                <em *ngIf="registerForm.controls.password?.invalid && registerForm.controls.password?.touched">Must be more than 2 characters</em>
                    <br />
                    <br />
                    <input [(ngModel)]="user.firstName" placeholder="First Name" name="firstName" class="form-control" required minlength="1">
	                <em *ngIf="registerForm.controls.firstName?.invalid && registerForm.controls.firstName?.touched">Must be more than 0 characters</em>
                    <br />
                    <br />
                    <input [(ngModel)]="user.lastName" placeholder="Last Name" name="lastName" class="form-control" required minlength="1">
                    <em *ngIf="registerForm.controls.lastName?.invalid && registerForm.controls.lastName?.untouched">Required Field</em>
	                <em *ngIf="registerForm.controls.lastName?.invalid && registerForm.controls.lastName?.touched">Must be more than 0 characters</em>
                    <br />
                    <br />
                     <!-- test regex https://www.beautifyconverter.com/regex-tester.php -->
                    <input [(ngModel)]="user.balance" placeholder="Balance" name="balance" class="form-control" #balance="ngModel" required minlength="3" pattern="^([1-9][0-9]{2,})+(.[0-9]{1,2})?$">
                    <em *ngIf="registerForm.controls.balance?.invalid && registerForm.controls.balance?.touched">Balance must be greater than 100 with maximum 2 decimal</em>
                    <br />
                </div>

                <div>
                    <button class="btn btn-primary btn-center" [disabled] = "!registerForm.form.valid">REGISTER USER</button>
                </div>

                <div *ngIf="message" class="text-success">
                    <p >{{message}}</p>
                </div>
            
            </form>
        </div>

    </div>
</div>
