/* You can add global styles to this file, and also import other style files */
@import './bootstrap.min.css';

.bg-black {background:black}
.bg-white {background: white}
.border-radius-small {border-radius: 10px;}
.pad-small {padding: 10px}
.bg-dark {background: rgb(29, 28, 28)}
.bg-red {background: rgb(109, 11, 11)}
.text-red {color:rgb(179, 29, 29)}
.pointer {cursor: pointer}
.border-light {border: 1px solid white}
.float-right {float: right;}
.float-clear{clear: both;}
.strike{ text-decoration: line-through;}
.relative{position:relative}
.btn-red:hover{background: rgb(179, 29, 29);}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.body-top-down-wrapper-margin{
    margin-top: 60px;
    margin-bottom: 80px;
}
